Flask==2.2.2
Flask-Cors==3.0.10
openai-whisper==20231117
torch
psycopg2-binary==2.9.9
requests==2.31.0
supabase==2.0.3
gunicorn
Werkzeug==2.2.3  # Important pin to avoid url_quote issue
python-dotenv  # Optional, helps load .env file automatically in local dev
